/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #5D4037;
}

/* Estilos de la lista de productos */
#lista-productos {
    list-style-type: none;
    padding: 0;
}

#lista-productos li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos de los botones */
button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #5D4037;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #795548;
}

